.DS_Store
.idea
*.pyc
*.pyo
build
dist
instl-gui.yaml
python_batch_test_results
.mypy_cache
configVar/test/test_out.yaml
venv
pythonVirtualEnv
.venv/
pyinstl/test/*.out.yaml
pyinstl/test/*out.yaml
build/
dist/
*.local.spec
build_instl/temp_build_dir/
